:root {
  --light-grey: #302e2c;
  --hover-blue: #3792e8;
  --selected-blue: #283947;
  --hover-green: #5d8d25;
  --display-background: #262422;
}

.move-display-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: var(--display-background);
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.move-display--rowitem {
  display: flex;
  justify-content: center;
  align-items: center;

}

.move-display--rowitem--turn {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: var(--light-grey);
}

.move-display--rowitem--move {
  flex: 2;
  padding-left: 16px;
}

.move-display--rowitem--move:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}

.selected {
  background-color: var(--selected-blue);
}

.move-display--forward-btns-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  position: sticky;
  top: 0px;
}

.move-display--forward-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  border: None;
  background-color: var(--light-grey);
}

.move-display--forward-btns:hover {
  background-color: var(--hover-green);
  cursor: pointer;
}

.move-display--forward-btns > img {
  max-width: 100%;
  max-height: 100%;
}


