:root {
  --white-color: #f0d9b5;
  --black-color: #b58863;
  
}

.black {
  background-color: var(--black-color)
}

.white {
  background-color: var(--white-color);
}

.tile-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.tile--label-file {
  position: absolute;
  bottom: 2px;
  left: 2px;
  align-self: flex-end;
}

.tile--label-rank {
  position: absolute;
  top: 2px;
  right: 2px;
  align-self: flex-start;
}

.tile-container > .white {
  color: var(--black-color)
}

.tile-container > .black {
  color: var(--white-color);
} 

.piece {
  width: 80%;
  height: 80%;
}
